body {
  font-size: 10px;
}

div {
  margin: 0;
  padding: 0;
}

.grid {
  background-color: #c0c0c0;
}

.row {
  margin-bottom: -1px;
}

.mine {
  background-image: url(../img/sprite.gif);
  background-repeat: no-repeat;
  background-position: -32px -53px;
}


.cell {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: #c0c0c0;
  border: 2px solid #FFF;
  border-right-color: gray;
  border-bottom-color: gray;
}

.cell.triggered {
  height: 15px;
  width: 15px;
  border: 1px solid gray;
  border-right: none;
  border-bottom: none;
}
